@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sb hd"
        "sb mc";
}

aside {
    position: sticky;
    top: 0;
    height: 100vh;
    color: white;
    background-color: #0ea5e9;
    grid-area: sb;
}

#dashboard,
aside > ul {
    padding: 1rem;
}

aside > ul > li {
    font-weight: bold;
    padding: 0.60rem;
}

#dashboard,
aside > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#dashboard::before,
aside > ul > li::before {
    content: var(--icon);
    height: 1.5em;
    width: 1.5em;
}

#dashboard::before {
    --icon: url(./img/icons/view-dashboard.svg);
}

#home::before {
    --icon: url(./img/icons/home.svg);
}

#profile::before {
    --icon: url(./img/icons/account.svg);
}

#messages::before {
    --icon: url(./img/icons/message.svg);
}

#history::before {
    --icon: url(./img/icons/history.svg);
}

#tasks::before {
    --icon: url(./img/icons/calendar-check.svg);
}

#communities::before {
    --icon: url(./img/icons/account-group.svg);
}

#settings::before {
    --icon: url(./img/icons/cog.svg);
}

#support::before {
    --icon: url(./img/icons/face-agent.svg);
}

#privacy::before {
    --icon: url(./img/icons/lock-check.svg);
}

header {
    grid-area: hd;
}

.profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-picture.main {
    width: 75px;
    height: 75px;
}

header > div:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.search {
    padding: 10px 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

input {
    height: 1.5rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 0.3rem;
}

.profile {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header > div:last-child {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    font-weight: bold;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px;
    gap: 20px;
}

menu > li {
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    border-radius: 1.5rem;
    padding: 10px 20px;
    text-align: center;
}

main {
    background-color: #e2e8f0;
    grid-area: mc;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main h3 {
    padding: 20px;
}

.container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    border-left: goldenrod 0.5rem solid;
    display: grid;
}

.card > p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: gray;
}

.links {
    justify-self: end;
    align-self: end;
    margin-top: 1rem;
    display: flex;
    gap: 0.8rem;
}

.links > img{
    height: 1.3rem;
    cursor: pointer;
}
